{{#each this}}
    <h1 class="country__header">{{name}}</h1>
    <ul class="country__description">
        <li class="country__flag"><img class="country__flag--img" src="{{flag}}" alt="flag of {{name}}" width="400px"></li>
        <li class="country__label">Capital:<span class="country__item">{{capital}}</span></li>
        <li class="country__label">Population:<span class="country__item">{{population}}</span></li>
        <li class="country__label">
            Languages:
            <ul>
                {{#each languages}}
                <li class="country__item">{{this.name}}</li>
                {{/each}}
            </ul>
        </li>
    </ul>

{{/each}}